USE [BdiExamen]
GO
/****** Object:  StoredProcedure [dbo].[spActualizar]    Script Date: 11/03/2026 08:02:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizar]
    @Id INT,
    @Nombre VARCHAR(255),
    @Descripcion VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        UPDATE tblExamen
        SET 
            Nombre = @Nombre,
            Descripcion = @Descripcion
        WHERE idExamen = @Id

        SELECT 
            0 AS CodigoRetorno,
            'Registro actualizado satisfactoriamente' AS DescripcionRetorno

    END TRY
    BEGIN CATCH

        SELECT 
            ERROR_NUMBER() AS CodigoRetorno,
            ERROR_MESSAGE() AS DescripcionRetorno

    END CATCH
END
GO
