USE [BdiExamen]
GO
/****** Object:  StoredProcedure [dbo].[spAgregar]    Script Date: 11/03/2026 08:02:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAgregar]
    @Id INT,
    @Nombre VARCHAR(255),
    @Descripcion VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        INSERT INTO tblExamen (idExamen, Nombre, Descripcion)
        VALUES (@Id, @Nombre, @Descripcion)

        SELECT 
            0 AS CodigoRetorno,
            'Registro insertado satisfactoriamente' AS DescripcionRetorno

    END TRY
    BEGIN CATCH

        SELECT 
            ERROR_NUMBER() AS CodigoRetorno,
            ERROR_MESSAGE() AS DescripcionRetorno

    END CATCH
END
GO
