USE [BdiExamen]
GO
/****** Object:  StoredProcedure [dbo].[spEliminar]    Script Date: 11/03/2026 08:02:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEliminar]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        DELETE FROM tblExamen
        WHERE idExamen = @Id

        SELECT 
            0 AS CodigoRetorno,
            'Registro eliminado satisfactoriamente' AS DescripcionRetorno

    END TRY
    BEGIN CATCH

        SELECT 
            ERROR_NUMBER() AS CodigoRetorno,
            ERROR_MESSAGE() AS DescripcionRetorno

    END CATCH
END
GO
