USE [BdiExamen]
GO
/****** Object:  StoredProcedure [dbo].[spConsultar]    Script Date: 11/03/2026 08:02:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spConsultar]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        idExamen,
        Nombre,
        Descripcion
    FROM tblExamen
END
GO
